.app-header {
  border: 1px solid green;
}

.app-navigation {
  border: 1px solid gray;
}

.link-active {
  color: green
}

ul.horizontal-menu li {
  display: inline;
  padding-right: 10px;
}

table.grid, table.grid td, table.grid th {
    border: 1px solid #aaa;
    border-collapse: collapse;
}

table.grid tr.active {
    background-color: #35cc00
}

table.grid td, table.grid th {
    width: 100px;
}

body {
    background-color: #eee;
}
