.app-header {
  border: 1px solid green;
}

.app-navigation {
  border: 1px solid gray;
}

.link-active {
  color: green
}

ul.horizontal-menu li {
  display: inline;
  padding-right: 10px;
}

table.grid, table.grid td, table.grid th {
  border: 1px solid #aaa;
  border-collapse: collapse;
}

table.grid tr.active {
  background-color: #35cc00
}

table.grid td, table.grid th {
  min-width: 75px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  display: inline-block;
  width: 75px;
  padding: 3px;
}

.textBox {
  width: 300px;
}

body {
  background-color: #eee;
}
