.link-active {
  color: green
}

ul.horizontal-menu li {
  display: inline;
  padding-right: 10px;
}

table.tickets, table.tickets td, table.tickets th {
    border: 1px solid #aaa;
    border-collapse: collapse;
}

table.tickets tr.active {
    background-color: #35cc00
}

table.tickets td, table.tickets th {
    width: 100px;
}

body {
    background-color: #eee;
}
